.campus {
    width: 90%;
    margin: 80px auto;
}

.gallery {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.gallery-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery-row img {
    border-radius: 10px;
    width: 31%;
    height: 325px;
}

.gallery-1{
    display: none;
}
.gallery-2{
    display: none;
}
.gallery-3{
    display: none;
}
.galleryBtn {
    display: block;
}

/* ---- Media query ---- */

@media (max-width: 1130px) {
    .gallery-row img {
        height: 280px;
    }
}

@media (max-width: 960px) {
    .gallery-row img {
        height: 250px;
    }
}

@media (max-width: 840px) {
    .gallery-row img {
        width: 65%;
        height: 350px;
    }    
    .gallery-row {
        flex-direction: column;
        gap: 25px;
    }
}

@media (max-width: 580px) {
    .gallery-row img {
        width: 80%;
        height: 260px;
    }
}